<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Aupresentação</title>
</head>

<body>
    <div class="container txt-center">
        <nav class="navegacao">
            <a href="{{url_for('inicio')}}" class="item-nav">Home</a>
            <a href="{{url_for('formulario')}}" class="item-nav">Contato</a>
        </nav>

        {%block conteudo%}
        {%endblock%}

    </div>

    <footer>
        <p>&#169; 2024 TCnologia. Todos os direitos reservados.</p>
    </footer>
</body>

</html>