<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Contato</title>
</head>
<body>
    <div class="container txt-center">
        <div class="navegacao">
        <nav>
            <a href="{{url_for('inicio')}}" class="item-nav">Home</a>
            <a href="{{url_for('formulario')}}" class="item-nav">Contato</a>
        </nav>
    </div>
        
    <h1>Obrigado</h1>

    <p>Mensagem enviada com sucesso!</p>

    <a href="{{url_for('inicio')}}">Retornar à Home</a>
    </div>
</body>
</html>